{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Adicionar Livro{% endblock %}</title>
    <!--Header-->
    {% include 'partials/header.html' %}
    <main>
        <h1>Adicionar Livro</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'adicionar_livro' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ livro_form.titulo.id_for_label }}">Título:</label>
                {{ livro_form.titulo }}
            </div>
            <div class="form-group">
                <label for="{{ livro_form.autor.id_for_label }}">Autor:</label>
                {{ livro_form.autor }}
            </div>
            <div class="form-group">
                <label for="{{ livro_form.publicação.id_for_label }}">Data de Publicação:</label>
                {{ livro_form.publicação }}
            </div>
            <div class="form-group">
                <label for="{{ livro_form.paginas.id_for_label }}">Número de Páginas:</label>
                {{ livro_form.paginas }}
            </div>
            <div class="form-group">
                <label for="{{ livro_form.capa.id_for_label }}">Capa do Livro:</label>
                {{ livro_form.capa }}
            </div>
            <button type="submit">Adicionar Livro</button>
        </form>
    </main>
    <!--Footer-->
    {% include 'partials/footer.html' %}
{% endblock %}
