{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Lista de Livros{% endblock %}</title>
        <!--Header-->
        {% include 'partials/header.html' %}
        <!--Mensagens-->
        {% include 'partials/alerts.html' %}
        <!--Main-->
        <main class="bg-gray">
            <h1>Lista de Livros</h1>
            <ul>
                {% for livro in livros %}
                <li>{{ livro.titulo }} por {{ livro.autor }}</li>
                <li>
                    {% if livro.capa %}
                        <img src="{{ livro.capa.url }}" alt="capa-de-livros" width="10%">
                    {% else %}
                        <p>Capa não encontrada</p>
                    {% endif %}
                </li>
                <a href="{% url 'delete' livro.id %}"><button>Deletar</button></a>
                <a href="{% url 'editar_livro' livro.id %}"><button>Editar</button></a>
                {% endfor %}
            </ul>
        </main>
        <!--Footer-->
        {% include 'partials/footer.html' %}
{% endblock %}