{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Livro Detalhes{% endblock %}</title>
        <!--Header-->
        {% include 'partials/header.html' %}

        <!--Main-->
        <main class="bg-gray">
            <img width="60%" src="{% static './img/Exemplo-img.jpg' %}" alt="Livros">
            {% for livro in livros %}
                <h1 class="bg-gray border-bottom border-danger">{{ livro.titulo }}</h1>
                <p class="bg-gray">Autor: {{ livro.autor }}</p>
                <p>Data de Publicação: {{ livro.publicação }}</p>
                <p>Número de Páginas: {{ livro.paginas }}</p>
            {% endfor %}
        </main>
        <!--Footer-->
        {% include 'partials/footer.html' %}
{% endblock %}