h1{
    color:blue
}
header{
    background-color: gray;
}
.bg-gray {
    background-color: gray;
}

/* Estilos gerais para o formulário */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

/* Estilos para os inputs */
input[type="text"],
input[type="date"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para o botão */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}