{% load static %}
<header class="bg-gray d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="../" class="nav-link" aria-current="page">Listar</a></li>
      <li class="nav-item"><a href="../detalhes" class="nav-link">Detalhes</a></li>
      <li class="nav-item"><a href="../adicionar" class="nav-link">Adicionar</a></li>
    </ul>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    {% else %}
      <a href="#loginModal" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-primary">
    {% endif %}
</header>